* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    background: 0;
    border: 0;
    cursor: pointer;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;

    width: 100%;
    height: 69px;
    background: #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    color: #fff;

    padding: 13px 0;
}
header h1{
    cursor: pointer;
}
main {
    width: 1050px;

    padding-bottom: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fafafa;
}

.screen-1, .screen-3 {
    margin-top: 140px;
}

.no-quizzes {
    height: 181px;
    text-align: center;
    padding: 33px 0;
    width: 100%;
    margin-bottom: 77px;

    border: 1px dashed #d5d5d5;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-quizzes h2 {
    height: 107px;
    width: 250px;

    font-size: 20px;
    line-height: 23px;

    color: #b9b9b9;
}

.no-quizzes button {
    border: 1px dashed #ec362d;
    border-radius: 50px;

    height: 59px;
    width: 150px;

    font-size: 21px;
    background: 0;

    color: #ec362d;
    cursor: pointer;
}

.your-quizzes {
    margin-bottom: 48px;
}

.your-quizzes > button,
.add-quizz button {
    margin-left: 17px;
    border-radius: 50%;
    border: 0;
    background: 0;
    color: #ec362d;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.your-quizzes h2,
.all-quizzes h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.your-quizzes ul,
.all-quizzes ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.your-quizzes li,
.all-quizzes li,
.quizz-done {
    list-style: none;
    cursor: pointer;
    position: relative;
    width: 340px;
    height: 180px;
    background-size: cover;
    border-radius: 5px;
}
.form-04{
    padding: 0 15px;
}
.quizz-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 18px 8px 18px;
    border-radius: 5px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 64.58%,
        #000000 100%
    );
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    word-break: break-word;
    display: flex;
    align-items: flex-end;
}

.add-quizz {
    display: flex;
}

.quizz-edits {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    background: #EC362D;
    border-radius: 10px 0px 0px 11px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.quizz-edits ion-icon {
    font-size: 25px;
    color: #fff;
}

.form-01 > button,
.form-02 > button,
.form-03 > button,
.form-04 > button{
    background: #EC362D;
    border-radius: 15px;
    border: 0;

    height: 54px;
    padding: 0 40px;
    margin-top: 80px;

    font-size: 21px;
    color: #FFF5F4;
}

.form-04 > button {
    margin-top: 45px;
}

.form-04 button:last-child {
    margin-top: 0px;

    color: #818181;
    background: 0;
}

.form-01,
.form-02,
.form-03,
.form-04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.form-01 > h2,
.form-02 > h2,
.form-03 > h2,
.form-04 > h2 {
    margin-bottom: 40px;
}

.form-04 > div {
    width: 500px;
    height: 266px;
}

.question-closed,
.level-closed {
    width: 600px;

    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
}

.question-closed ion-icon,
.level-closed ion-icon {
    font-size: 26px;
}

.question-closed h2,
.level-closed h2 {
    font-size: 20px;
}

.quizz-infos,
.question,
.level {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
    width: 600px;

    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-infos input,
.question input,
.level input,
.level textarea {
    width: 100%;
    height: 46px;
    padding-left: 23px;

    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: 0;

    color: #BABABA;
}

.level textarea {
    resize: none;
    padding-top: 10px;
}

.quizz-infos input::placeholder,
.question input::placeholder,
.level input::placeholder,
.level textarea::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.quizz-infos h3,
.question h3,
.level h3 {
    font-size: 16px;
    color: #EC362D;
    font-weight: normal;
    margin-top: 3px;
}

.question,
.level {
    padding-top: 10px;
}

.question h2,
.level h2 {
    font-size: 20px;
    margin: 15px 0 10px;
}

.question > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.validate-error {
    background: #FFE9E9;
}

.quizz-banner{
    height: 227px;
    width: 100vw;
    position: relative;
    margin-top: 69px;
}
.quizz-banner > div {
    font-style: normal;
    font-size: 39px;
    line-height: 46px;
    color: #fff;

    word-break: break-word;

    background-color: rgba(0, 0, 0, 0.57);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.final-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-wrapper, .conclusion-wrapper {
    width: 760px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);

    padding: 28px 35px;
    margin: 42px 0;
}

.questions-title {
    width: 690px;
    height: 138px;

    margin-bottom: 20px;
    padding: 8px 18px;
    word-break: break-word;

    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 27px; 
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conclusion-title {
    width: 690px;
    height: 100px;

    margin-bottom: 20px;
    padding: 8px 18px;
    word-break: break-word;

    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 27px; 
    color: #fff;
    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;

}

.answers-wrapper, .img-description-wrapper {
    width: 690px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.answer {
    width: 330px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;

    cursor: pointer;

    margin-bottom: 18px;

    position: relative;
}

.answer > img {
    height: 175px;
    margin-bottom: 8px;

    object-position: center;
    object-fit: cover;
}

.fade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.70);
}

.answer > span {
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 23px;

    word-break: break-word;
}

.answer > span.correct {
    color: #009C22;
}

.answer > span.wrong {
    color: #FF4B4B;
}

.img-description-wrapper > img {
    width: 330px;
    height: 248px;
   
    object-position: center;
    object-fit: cover;
}

.img-description-wrapper > p {
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    line-height: 25px;
    text-align: left;

    width: 330px;
    height: 248px;
    word-break: break-word;

    display: flex;
    align-items: flex-start;
}

.reset-quizz {
    width: 260px;
    height: 52px;

    border-radius: 15px;
    border: none;
    background-color: #ec362d ;

    color:#FFF5F4;
    font-size: 21px;
    line-height: 25px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;
}

.back-home {
    width: 260px;
    height: 52px;

    border: none;

    color: #818181;
    font-size: 21px;
    line-height: 25px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;
}

textarea {
    width: 250px;
    height: 54px;
    resize: none;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 275px;
}

.loading-screen > span {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    vertical-align: center;

    color: #ec362d;
}

@keyframes load {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.load div {
    position: absolute;
    width: 66px;
    height: 66px;
    border: 10px solid #ec362d;
    border-top-color: transparent;
    border-radius: 50%;
}
.load div {
    animation: load 1s linear infinite;
    top: 50px;
    left: 50px
}
.spinner {
    width: 76px;
    height: 76px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.load {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.76);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.load div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.none {
    display: none;
}

@media only screen and (max-width: 1100px) {
    main, ul, .your-quizzes li,
    .all-quizzes li, .quizz-done, .form-04 > div,
    .level-closed, .quizz-infos, .question, .level,
    .question-closed, .level-closed, .quizz-background,
    .questions-wrapper, .conclusion-wrapper,
    .conclusion-title, .questions-title, 
    .answers-wrapper, .img-description-wrapper,
    .screen-1, .screen-2, .screen-3, .answer > img {
        width: 100%;
    }

    main {
        margin: 0;
        padding-bottom: 100px;
    }

    textarea {
        resize: vertical;
    }

    .answer {
        width: 48%;
    }

    .answer > img {
        height: 114px;
    }

    .conclusion-title, .questions-title {
        height: 90px;
    }

    .img-description-wrapper > img,
    .img-description-wrapper > p {
        width: 48%;
    }

    .screen-1 {
        margin-top: 100px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .screen-3 {
        margin-top: 120px;
    }
}
