* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
button{
    background: 0;
    border: 0;
    cursor: pointer;
}
body{
    background-color: #fafafa;
}
header {
    position: fixed;
    top: 0;
    z-index: 2;

    width: 100%;
    height: 69px;
    background: #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    padding: 13px 0;

    color: #fff;
}
main {
    padding-bottom: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fafafa;
}
.no-quizzes {
    height: 181px;
    text-align: center;
    padding: 33px 0;
    width: 100%;
    margin-bottom: 77px;

    border: 1px dashed #d5d5d5;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-quizzes h2 {
    height: 107px;
    width: 250px;

    font-size: 20px;
    line-height: 23px;

    color: #b9b9b9;
}
.no-quizzes button {
    border: 1px dashed #ec362d;
    border-radius: 50px;

    height: 59px;
    width: 150px;

    font-size: 21px;
    background: 0;

    color: #ec362d;
    cursor: pointer;
}
.your-quizzes {
    margin-bottom: 48px;
}
.your-quizzes button {
    margin-left: 17px;
    border-radius: 50%;
    border: 0;
    background: 0;
    color: #ec362d;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.your-quizzes h2,
.all-quizzes h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.your-quizzes ul,
.all-quizzes ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.your-quizzes li,
.all-quizzes li {
    list-style: none;
    cursor: pointer;

    position: relative;

    width: 340px;
    height: 181px;

    background: url("https://th.bing.com/th/id/R.67262be6826b4ce581b3f2ad83a3c62d?rik=LvoBnksMeh2wLQ&pid=ImgRaw&r=0");
    background-size: cover;

    border-radius: 5px;
}
.quizz-background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0 20px 10px 18px;
    border-radius: 5px;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 64.58%,
        #000000 100%
    );

    color: #fff;
    font-size: 19px;
    font-weight: 400;

    display: flex;
    align-items: flex-end;
}

.add-quizz {
    display: flex;
}
.form-01 > button,
.form-02 > button,
.form-03 > button{
    background: #EC362D;
    border-radius: 15px;
    border: 0;

    height: 54px;
    padding: 0 40px;
    margin-top: 80px;

    font-size: 21px;
    color: #FFF5F4;
}
.form-01,
.form-02,
.form-03{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-01 > h2,
.form-02 > h2{
    margin-bottom: 40px;
}
.form-02{
    gap: 24px;
}
.question-closed{
    width: 600px;

    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
}
.question-closed ion-icon{
    font-size: 26px;
}
.question-closed h2{
    font-size: 20px;
}

.quizz-infos,
.question{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
    width: 600px;

    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quizz-infos input,
.question input{
    width: 100%;
    height: 46px;
    padding-left: 23px;

    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: 0;

    color: #BABABA;
}
.quizz-infos input::placeholder,
.question input::placeholder{
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}
.quizz-infos h3,
.question h3{
    font-size: 16px;
    color: #EC362D;
    font-weight: normal;
    margin-top: 3px;
}
.question{
    padding-top: 0;
}
.question h2{
    font-size: 20px;
    margin: 15px 0 10px;
}
.question > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.screen-1 {
    margin-top: 146px;
    width: 1050px;
}
.screen-3 {
    margin-top: 140px;
    width: 1050px;
}
.validate-error{
    background: #FFE9E9;
}

.none {
    display: none;
}

.quizz-banner{
    height: 227px;
    width: 100%;

    position: relative;

    background-image: url("https://criadoresid.com/wp-content/uploads/2016/11/hogwarts-real.jpg");
    background-size: cover;

    margin-top: 69px;
}

.quizz-banner>div{
    font-style: normal;
    font-size: 39px;
    line-height: 46px;
    color: #fff;

    background-color: rgba(0, 0, 0, 0.57);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.questions-wrapper, .conclusion-wrapper {
    width: 760px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);

    padding: 28px 35px;
    margin: 42px 0;
}

.questions-title {
    width: 690px;
    height: 138px;

    margin-bottom: 20px;

    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 27px; 
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conclusion-title {
    width: 690px;
    height: 100px;

    margin-bottom: 20px;

    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 27px; 
    color: #fff;
    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;

}

.answers-wrapper, .img-description-wrapper {
    width: 690px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.answer {
    width: 330px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;

    margin-bottom: 18px;

    position: relative;
}

.answer>img {
    height: 175px;
    margin-bottom: 8px;

    object-position: center;
    object-fit: cover;
}

.fade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.70);


}

.answer>span {
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 23px;
}

.answer>span.correct{
    color: #009C22;
}

.answer>span.wrong{
    color: #FF4B4B;
}

.img-description-wrapper>img {
    width: 330px;
    height: 248px;

    object-position: center;
    object-fit: cover;
}

.img-description-wrapper>p {
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    line-height: 25px;
    text-align: left;

    width: 330px;
    height: 248px;
    word-break: break-word;

    display: flex;
    align-items: flex-start;
}